.title1:before {
    content: ''; /*CSS伪类用法*/
    position: absolute; /*定位背景横线的位置*/
    background: #9f9f9f; /*宽和高做出来的背景横线*/
    margin-top: 15px;
    margin-left: -16%;
    width: 15%;
    height: 2px;
}
.title1:after {
    content: ''; /*CSS伪类用法*/
    position: absolute; /*定位背景横线的位置*/
    background: #9f9f9f; /*宽和高做出来的背景横线*/
    margin-top: 15px;
    margin-left: 1%;
    width: 15%;
    height: 2px;
}



.threed {
    color: #fafafa;
    letter-spacing: 0;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135
}
.close {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: -webkit-transform 2s linear;
    transition: transform 2s linear;
}