.section .row{
    margin-top:0px;
   
}
.bg {
    background: white;
    border-radius: 3px
}
.titte h1 {
    margin-top: 20px;
    color: #59b8bc
}
.titte h3 {
    border-bottom: 1px solid #dddddd;
    margin-top: 30px;
    padding-bottom: 5px;
    color: #a4a4a4;
    padding-left: 2%;
    text-align: center
}