
.modal-content p {
    color: #3c3b3b;
    font-size: 13px;
    line-height: 15px;
}

.table-show {
    margin-top: 30px;
    z-index: 3;
}

.zoom-big {
    zoom: 1.2;
}

.table > thead > tr {
    background: #59b8bc;
    text-align: center;
}

    .table > thead > tr > th:first-child {
        border-left: none
    }

.function-item {
    padding: 5%;
}

.table > thead > tr > th > h3 {
    text-align: center;
    color: #ffffff;
}

.rotate {
    transition: transform 0.5s;
    -moz-transition: -moz-transform 0.5s; /* Firefox 4 */
    -webkit-transition: -webkit-transform 0.5s; /* Safari and Chrome */
    -o-transition: -o-transform 0.5s; /* Opera */
    transform: rotate(360deg);
    -ms-transform: rotate(360deg); /* Internet Explorer */
    -moz-transform: rotate(360deg); /* Firefox */
    -webkit-transform: rotate(360deg); /* Safari ºÍ Chrome */
    -o-transform: rotate(360deg); /* Opera */
}








.close:hover::before {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: -webkit-transform 1s linear;
    transition: transform 1s linear;
}

.table-show > table > tbody > tr > td {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 15px;
    border-left: 0.1px solid rgba(176, 176, 176, 0.46);
}







.table-show > table > tbody > tr:nth-child(-n+13):nth-child(n+3) > td:first-child {
    padding-left: 8%;
}

.table-show > table > tbody > tr > td:first-child {
    text-align: left;
    padding-left: 3%;
}

.color1 {
    color: black
}

.left h3 {
    background: #ea6352;
    color: white;
    text-align: center;
    line-height: 48px;
    border-radius: 15px;
}

    .left h3 :hover {
        cursor: pointer;
        font-size: 17px;
    }



    .left h3 span {
        color: whitesmoke;
    }

.right h3 {
    background: #e5e5e5;
    color: white;
    text-align: center;
    line-height: 48px;
    border-radius: 15px;
}

    .right h3 span {
        color: black;
    }


    .right h3 :hover {
        cursor: pointer;
        font-size: 16px;
    }

@media screen and (min-width:1185px) {
    .ff {
        height: 400px;
    }
}

@media screen and (max-width:1183px) {
    .ff1 {
        height: 100px;
    }
}



i {
    color: #59b8bc;
}

/* Add by chester 2018/10/16 */
.date-select {
    font-size: 13px !important;
    padding-left: 12px !important;
    height: 34px !important;
    -webkit-appearance: menulist !important;
}

.error-msg {
    padding-top: 5px;
    font-size: 14px;
    padding-left: 10px;
    color: #ff0000;
}

    .error-msg > i {
        color: #ff0000;
    }

.autopay-input {
    padding-left: 15px !important;
}

.fa.fa-calendar.calendar {
    position: absolute;
    top: 11px;
    right: 26px;
}
/* End */
