<html lang="en">
<head>
    <title></title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Global CSS -->
    <link rel="stylesheet" href="../../Content/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="../../Content/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../../Content/plugins/flexslider/flexslider.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="../../Content/css/styles.css">
    <link href="../../Content/css/Footer.css" rel="stylesheet" />
</head>

<body class="signup-page access-page has-full-screen-bg">
    <div id="app">
        <div class="upper-wrapper">
            <!-- ******HEADER****** -->
            <header class="header">
                <div class="container">
                    <h1 class="logo">
                        <a href="../index/index.html"><span class="logo-icon"></span><span class="text" v-if="Multilingual[19]">{{Multilingual[19].Describe}}</span></a>
                    </h1><!--//logo-->
                    <!--<ul class="nav navbar-nav" style="position:relative;float:right;margin-top:-37px;">
                    <li class="nav-item dropdown">
                        <select v-model="Language_Value" style="background-color:;" class="form-control" v-on:change="ChangeLan()" id="MultilSelect">
                            <option v-for="item in DropDownLanguage" v-bind:value="item.VALUE">{{item.DESCRIBE}}</option>
                        </select>

                    </li>
                </ul>-->

                    <div class="navbar-collapse" style="position:absolute;right:0;top:-15px;">
                        <ul class="nav navbar-nav" style="">
                            <li class="nav-item">
                                <div class="language_item">
                                    <select v-model="Language_Value" class="form-control" v-on:change="ChangeLan()" id="MultilSelect">
                                        <option style="background-color:#000000;color:#ffffff;" v-for="item in DropDownLanguage" v-bind:value="item.VALUE">{{item.DESCRIBE}}</option>
                                    </select>
                                    <i class="fa fa-angle-down" style="position:absolute;top:3px;right:12px;font-size:16px;z-index:-1;"></i>

                                </div>
                            </li>
                        </ul>
                    </div><!-- //Select Language -->
                </div><!--//container-->
            </header><!--//header-->
            <!-- ******Signup Section****** -->
            <div id="WarningMessage"></div>
            <section class="signup-section access-section section">
                <div class="container">
                    <div class="row">
                        <div class="form-box col-md-offset-2 col-sm-offset-0 xs-offset-0 col-xs-12 col-md-8">
                            <div class="form-box-inner" style="min-width:629px">
                                <h2 class="title text-center" v-if="Multilingual[0]">{{Multilingual[0].Describe}}</h2>
                                <p class="intro text-center" v-if="Multilingual[1]">{{Multilingual[1].Describe}}</p>
                                <div class="row">
                                    <div class="form-container col-xs-offset-1 col-sm-offset-2 col-md-offset-1 col-lg-offset-2 col-xs-12 col-sm-10 col-md-10 col-lg-10" style="width:500px;">
                                        <form class="signup-form">
                                            <div class="form-group user">
                                                <label class="sr-only" style="color:red" for="signup-email">Your username</label>
                                                <input id="signup-email" v-if="Multilingual[7]" type="text" class="form-control " style="width:460px" :placeholder="Multilingual[7].Describe" v-model="customer.CUSTOMER_ID"><i class="fa" style="color:red;float:right;margin-top:-25px;">*</i>
                                            </div>
                                            <div class="form-group password ">
                                                <label class="sr-only" for="signup-password">Your password</label>

                                                <input id="signup-password" v-if="Multilingual[8]" type="password" style="width:460px" class="form-control login-password " :placeholder="Multilingual[8].Describe" v-model="customer.PASSWORD"><i class="fa" style="color:red;float:right;margin-top:-25px;">*</i>
                                            </div>
                                            <div class="form-group password">
                                                <label class="sr-only" for="signup-password">Confirm your password</label>
                                                <input id="signup-confirm-password" v-if="Multilingual[9]" type="password" style="width:460px" class="form-control login-password" :placeholder="Multilingual[9].Describe"><i class="fa" style="color:red;float:right;margin-top:-25px;">*</i>
                                            </div>
                                            <div class="form-group  user">
                                                <label class="sr-only" for="register-name"></label>
                                                <input id="register-name" v-if="Multilingual[10]" type="text" style="width:460px" class="form-control login-email" :placeholder="Multilingual[10].Describe" v-model="customer.CUSTOMER_NAME" /><i class="fa" style="color:red;float:right;margin-top:-25px;">*</i>
                                            </div>
                                            <div class="form-group user">
                                                <label class="sr-only" for="register-cname"></label>
                                                <input id="register-cname" v-if="Multilingual[11]" type="text" style="width:460px" class="form-control login-email" :placeholder="Multilingual[11].Describe" v-model="customer.CNAME" />
                                            </div>
                                            <div class="form-group email">
                                                <label class="sr-only" for="register-email"></label>
                                                <input id="register-email" v-if="Multilingual[12]" type="text" style="width:460px" class="form-control login-email" :placeholder="Multilingual[12].Describe" v-model="customer.EMAIL" /><i class="fa" style="color:red;float:right;margin-top:-25px;">*</i>
                                            </div>
                                            <div class="form-group company">
                                                <label class="sr-only" for="register-company"></label>
                                                <input id="register-company" v-if="Multilingual[13]" type="text" style="width:460px" class="form-control login-email" :placeholder="Multilingual[13].Describe" v-model="customer.COMPANY" /><i class="fa" style="color:red;float:right;margin-top:-25px;">*</i>
                                            </div>
                                            <div class="form-group company">
                                                <label class="sr-only" for="register-company-address"></label>
                                                <input id="register-company-address" v-if="Multilingual[16]" type="text" style="width:460px" class="form-control login-email" :placeholder="Multilingual[16].Describe" v-model="customer.COMPANY_ADDRESS" />
                                            </div>
                                            <div class="form-group phone">
                                                <label class="sr-only" for="register-phone"></label>
                                                <input id="register-phone" v-if="Multilingual[14]" type="text" style="width:460px" class="form-control login-email" :placeholder="Multilingual[14].Describe" v-model="customer.PHONE" /><i class="fa" style="color:red;float:right;margin-top:-25px;">*</i>
                                            </div>
                                            <div class="form-group telephone">
                                                <label class="sr-only" for="register-fixed-telephone"></label>
                                                <input id="register-fixed-telephone" v-if="Multilingual[17]" type="text" maxlength="15" style="width:460px" class="form-control login-email" :placeholder="Multilingual[17].Describe" v-model="customer.FIXED_TELEPHONE" />
                                            </div>
                                            <div class="form-group code">

                                                <input type="text" v-if="Multilingual[15]" style="width:460px" class="form-control" id="code_input" value="" :placeholder="Multilingual[15].Describe" /><i class="fa" style="color:red;float:right;margin-top:-25px;">*</i>
                                                <div id="v_container" style="width:460px;height:50px;margin-top:10px;"></div>
                                            </div>
                                            <button type="button" class="btn btn-block btn-cta-primary" @click="RegisterCustomerAccount()" v-if="Multilingual[2]">{{Multilingual[2].Describe}}</button>
                                            <p class="note" v-if="Multilingual[3]">{{Multilingual[3].Describe}}</p>
                                            <p class="lead"><span v-if="Multilingual[4]">{{Multilingual[4].Describe}}</span><a class="login-link" id="login-link" href="../Login/Login.html" v-if="Multilingual[5]">{{Multilingual[5].Describe}}</a><br /><a href="../index/index.html" v-if="Multilingual[6]">{{Multilingual[6].Describe}}</a></p>
                                        </form>
                                    </div><!--//form-container-->
                                </div><!--//row-->
                            </div><!--//form-box-inner-->
                        </div><!--//form-box-->
                    </div><!--//row-->
                </div><!--//container-->
            </section><!--//signup-section-->
        </div><!--//upper-wrapper-->
        <!--<!-- ******FOOTER****** -->
        <footer class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="row" style="background:#ffffff">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 footerlogo">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2 col-sm-12 col-xs-12 ">
                                <img src="../../Content/images/Footer/logo.png" />
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                <p class="footertittle" v-if="Navigation[30]">{{Navigation[30].Describe}} </p>
                            </div>

                        </div>
                        <!--<img src="../../Content/images/Footer/logo.png" />-->


                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 footcontent">
                        <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
                            <h2 v-if="Navigation[26]">{{Navigation[26].Describe}} </h2>
                            <p v-if="Navigation[29]">
                                {{Navigation[29].Describe}}
                            </p>

                            <p class="Contact_icon" v-if="Navigation[28]">
                                <span style=" padding-right :50px; font-family: Britannic; ">{{Navigation[28].Describe}}</span>  <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
                                <i class="fa fa-whatsapp fa-2x" style="padding-left:5%;" aria-hidden="true"></i>
                                <i class="fa fa-linkedin fa-2x" style="padding-left:5%;" aria-hidden="true"></i>

                            </p>
                            <p class="Contact_icon">

                            </p>

                        </div>
                        <div class="col-lg-5 col-md-5  col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12" style="margin-top:20px">
                            <p class="p3"><i class="fa fa-map-marker fa-3x" aria-hidden="true"></i><span v-if="Navigation[24]">{{Navigation[24].Describe}} </span> </p>
                            <p class="p3"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i><span v-if="Navigation[25]">{{Navigation[25].Describe}} </span></p>
                            <p class="p3">
                                <i style="width:30px;height:30px;">
                                    <img style="width:30px;height:30px;" src="../../Content/images/Footer/CustomerService.png " />
                                </i><span v-if="Navigation[23]">{{Navigation[23].Describe}} </span>
                            </p>


                        </div>
                    </div>

                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 footerLink">
                    <p class="text-center" v-if="Navigation[16]">{{Navigation[16].Describe}}  <a style=" padding-left:20px;"> {{Navigation[17].Describe}}</a>  | <a v-if="Navigation[18]">{{Navigation[18].Describe}}</a> | <a v-if="Navigation[19]">{{Navigation[19].Describe}}</a> |<a v-if="Navigation[20]">{{Navigation[20].Describe}}</a><span style="padding-left:20px;">{{Navigation[21].Describe}} </span></p>

                </div>
            </div>






        </footer>
    </div>

    <!-- Javascript -->
    <script type="text/javascript" src="../../Content/plugins/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="../../Content/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../Content/plugins/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="../../Content/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="../../Content/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="../../Content/plugins/FitVids/jquery.fitvids.js"></script>
    <script type="text/javascript" src="../../Content/plugins/flexslider/jquery.flexslider-min.js"></script>
    <!--<script type="text/javascript" src="../../Content/js/main.js"></script>-->
    <!--Vue.js-->
    <script src="../../Content/js/Share/vue.min.js"></script>
    <script src="../../Content/js/Share/vue-resource.min.js"></script>
    <script src="../../Content/js/Share/GetCommonAPI.js"></script>
    <script type="text/javascript" src="../../Content/js/Share/WarningMessage.js"></script>
    <script type="text/javascript" src="../../Content/js/Share/Multilingual.js"></script>
    <script src="../../Content/js/Register/Register.js"></script>
    <script src="../../Content/js/Register/gVerify.js"></script>
    <script>
        var verifyCode = new GVerify("v_container");
    </script>
</body>
</html>


