<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="favicon.ico" />
    <!--Current page styles 当前页样式-->
    <link rel="stylesheet" href="../../Content/css/Features.css" />
    <!-- Global CSS -->
    <link rel="stylesheet" href="../../Content/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="../../Content/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../../Content/plugins/flexslider/flexslider.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="../../Content/css/styles.css">
    <link href="../../Content/css/Footer.css" rel="stylesheet" />
    <title></title>
    <style>
     
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
      
    </style>
</head>
<body class="home-page">
    <!--<div class="square" style="z-index:10"></div>-->
    <div id="app">
        <header id="header" class="header navbar-fixed-top background">
            <div class="container-fluid padding1 ">
                <h1 class="logo display">
                    <a href="../index/index.html"><span class="text span1" v-if="Navigation[9]">{{Navigation[9].Describe}}</span></a>
                </h1><!--logo-->
                <nav class="main-nav navbar-right" role="navigation">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse" style="position:absolute;left:10px">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button><!--//nav-toggle-->

                    </div><!--//navbar-header-->
                    <div id="navbar-collapse" class="navbar-collapse collapse" style="padding-right:50px;">
                        <ul class="nav navbar-nav">
                            <li class="nav-item" v-if="Navigation[0]"><a class="padding" href="index.html">{{Navigation[0].Describe}} </a></li>
                            <li class="active nav-item" v-if="Navigation[1]"><a class="padding" href="features.html">{{Navigation[1].Describe}}</a></li> <!--Features-->
                            <li class="nav-item" v-if="Navigation[2]"><a class="padding" href="../index/SubscriptionPlan.html">{{Navigation[2].Describe}}</a></li><!--Pricing-->
                            <li class="nav-item dropdown" ref="personal" style="display:none;">
                                <a class="dropdown-toggle padding" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#" v-if="Navigation[3]"> {{Navigation[3].Describe}}<i class="fa fa-angle-down"></i></a> <!---->
                                <ul class="dropdown-menu">
                                    <li><a href="../index/ModifyPersonalInfo.html" v-if="Navigation[7]">{{Navigation[7].Describe}}</a></li>
                                    <li><a href="../index/ModifyAccountPassword.html" v-if="Navigation[8]">{{Navigation[8].Describe}}</a></li>
                                    <li><a href="../index/SubscriptedPlan.html" v-if="Navigation[10]">{{Navigation[10].Describe}}</a></li>
                                    <li><a href="../index/SubscriptionPlanList.html" v-if="Navigation[11]">{{Navigation[11].Describe}}</a></li>
                                </ul>
                            </li><!--//dropdown-->
                            <li class="nav-item" ref="logining"><a class="padding" href="../Login/Login.html" v-if="Navigation[4]">{{Navigation[4].Describe}}</a></li>  <!--Log in-->
                            <li class="nav-item" style="display:none;" ref="logouting"><a class="padding" href="#" @click="Logout()" v-if="Navigation[6]">{{Navigation[6].Describe}}</a></li> <!--Log out-->
                            <li class="nav-item nav-item-cta" ref="signuping"><a style="padding-left:5px;padding-right:5px" class="btn btn-cta btn-cta-secondary" href="../Register/Register.html" v-if="Navigation[5]">{{Navigation[5].Describe}}</a></li>  <!--Sign Up Free-->
                        </ul>
                    </div><!--//navabr-collapse-->
                    <div class="top UserIcon">
                        <div id="Portrait" ref="Portrait" class="content" @mouseover="HeadPortraithover()" @mouseout="HeadPortraithoverout()" style="display:none;">
                            <img src="../../Content/images/HeadPortrait/img2.jpg" class="img-circle" alt="Cinque Terre">
                            <div id="userinfo" style="height:240px;width:400px; background:#ffffff;position:absolute;top:50px;right:0px;display:none">
                                <div class="col-lg-12 content1">
                                    <div class="div1">
                                        <div class="img">
                                            <img src="../../Content/images/HeadPortrait/img2.jpg" class="img-circle" alt="Cinque Terre">
                                        </div>
                                        <div class="username">
                                            <p><strong>{{this.UserInfo.CUSTOMERID}}</strong>  </p>
                                            <p style="margin-top:-10px;"><i class="fa fa-envelope-o" aria-hidden="true"></i><i style="padding-left:15px;" class="fa fa-phone-square" aria-hidden="true"></i> </p>
                                        </div>
                                    </div>
                                    <div class="div2">
                                        <p v-if="Navigation[12]"><strong>{{Navigation[12].Describe}}</strong>  <span>{{this.UserInfo.LOGINTIME}}</span> </p>
                                        <p v-if="Navigation[13]"> <strong>{{Navigation[13].Describe}}</strong> <span>{{this.UserInfo.EMAIL}}</span> </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <ul class="nav navbar-nav" style="margin-top:0px;">
                            <li class="nav-item">
                                <div class="language_item">
                                    <select v-model="Language_Value" class="form-control" v-on:change="ChangeLan()" id="MultilSelect">
                                        <option style="background-color:#000000;color:#ffffff;" v-for="item in DropDownLanguage" v-bind:value="item.VALUE">{{item.DESCRIBE}}</option>
                                    </select>
                                    <i class="fa fa-angle-down" style="position:absolute;top:3px;right:12px;font-size:16px;z-index:-1;"></i>
                                </div>
                            </li>
                        </ul>
                    </div><!-- //Select-Language -->
                </nav><!--//main-nav-->

            </div>

        </header>


        <div id="navigation" style="display:none">
            <nav class="navbar navbar-inverse  navbar-static-top" id="sidebar-wrapper" style="z-index:2; transition:top 1s; -webkit-transition:top 1s; position:fixed;border:none;border-radius:5px; width:180px;top:150px;left:5px; background:rgba(0,0,0,.01);" role="navigation">
                <ul class="nav ulclass">
                    <li id="nav1" @click="clcikactive('nav1')"> <a href="#" v-if="Multilingual[46]"> <i class="fa fa-fw fa-home"> </i>{{Multilingual[46].Describe}}</a> </li>
                    <li id="nav2" @click="clcikactive('nav2')"> <a href="#1" v-if="Multilingual[9]"> <i class="fa fa-fw fa-folder"> </i> {{Multilingual[9].Describe}}</a> </li>
                    <li id="nav3" @click="clcikactive('nav3')"> <a href="#2" v-if="Multilingual[10]"> <i class="fa fa-fw fa-file-o"> </i> {{Multilingual[10].Describe}} </a> </li>
                    <li id="nav4" @click="clcikactive('nav4')"> <a href="#3" v-if="Multilingual[11]"> <i class="fa fa-fw fa-cog"> </i> {{Multilingual[11].Describe}} </a> </li>
                    <li id="nav5" @click="clcikactive('nav5')"> <a href="#4" v-if="Multilingual[15]"> <i class="fa fa-fw fa-bank"> </i>{{Multilingual[13].Describe}} </a> </li>
                    <li id="nav6" @click="clcikactive('nav6')"> <a href="#5" v-if="Multilingual[39]">  <i class="fa fa-fw fa-dropbox"> </i> {{Multilingual[39].Describe}} </a> </li>
                    <li id="nav7" @click="clcikactive('nav8')"> <a href="#6" v-if="Multilingual[23]">  <i class="fa fa-fw fa-twitter"> </i>{{Multilingual[23].Describe}} </a> </li>
                    <li id="nav8" @click="clcikactive('nav1')"> <a href="#7" v-if="Multilingual[12]"> <i class="fa fa-fw fa-twitter"></i>{{Multilingual[12].Describe}} </a> </li>

                    <!--<li> <a href="#8" v-if="Multilingual[16]"> <i class="fa fa-fw fa-twitter"> </i>{{Multilingual[16].Describe}} </a> </li>
                <li> <a href="#9" v-if="Multilingual[17]"> <i class="fa fa-fw fa-twitter"> </i>{{Multilingual[17].Describe}} </a> </li>-->
                </ul>
            </nav>
        </div>

        <div id="myCarousel" class="carousel slide" style="border:1px none">
            <div class="company_nameleft col-lg-12" style="position:absolute;width:80%;margin-left:10%; z-index:4">
                <p class="ff1" style="text-align:center;font-size:36px;margin-top:10%;color:white" v-if="Multilingual[0]">{{Multilingual[0].Describe}}</p>
                <p class="ff1" style="width:50%;margin-left:25%;  text-align:center;color:white;font-size:28px;">
                    <span v-if="Multilingual[2]">{{Multilingual[2].Describe}} </span>
                </p>
                <p class="ff1" style="text-align :center;color:white;font-size:24px">
                    <span style="padding-left:10px;padding-right:10px;  " v-if="Multilingual[2]">
                        <i v-if="Multilingual[10]" :title="Multilingual[10].Describe" class="fa fa-bar-chart fa-2x rotate" aria-hidden="true"></i>
                        &nbsp;&nbsp; &nbsp; <i class="fa fa-plus" aria-hidden="true"></i>
                        &nbsp;&nbsp;&nbsp;<i v-if="Multilingual[11]" :title="Multilingual[11].Describe" class="fa fa-commenting fa-2x rotate" aria-hidden="true"></i>
                        &nbsp;&nbsp;&nbsp;<i class="fa fa-plus" aria-hidden="true"></i>
                        &nbsp;&nbsp;&nbsp;<i v-if="Multilingual[12]" :title="Multilingual[12].Describe" class="fa fa-eye-slash fa-2x rotate" aria-hidden="true"> </i>
                        &nbsp;&nbsp;&nbsp;<i class="fa fa-plus" aria-hidden="true"></i>
                        &nbsp;&nbsp;&nbsp;<i v-if="Multilingual[13]" :title="Multilingual[13].Describe" class="fa fa-tasks fa-2x rotate" aria-hidden="true"></i>
                    </span>
                </p>


            </div>
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <div class="item active">
                    <img style="max-height:600px;" src="../../Content/images/background/asl_home_bg.jpg" alt="First slide">
                </div>
                <div class="item">
                    <img style="max-height:600px;" src="../../Content/images/background/asl_login_bg.jpg" alt="Second slide">
                </div>
                <div class="item">
                    <img style="max-height:600px;" src="../../Content/images/background/asl_home_bg.jpg" alt="Third slide">


                </div>
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a style="text-align:center" class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <i style="position:absolute;top:50%;left:50%" class="fa fa-chevron-left fa-2x" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a style="text-align:center" class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <i style="position:absolute;top:50%" class="fa fa-chevron-right fa-2x" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>


        <div class="upper-wrapper">
            <section class="signup-section access-section section" style="position:relative;z-index:1;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 company_nameright">
                            <p style="text-align:center;font-size:36px;" v-if="Multilingual[0]">{{Multilingual[0].Describe}} </p>
                            <p style="text-align:center;" v-if="Multilingual[3]">
                                {{Multilingual[3].Describe}}
                            </p>
                            <p style="text-align:center;padding-left:10%;padding-right:10%;" v-if="Multilingual[4]">
                                {{Multilingual[4].Describe}}
                            </p>
                            <p style="text-align:center;" v-if="Multilingual[5]">
                                {{Multilingual[5].Describe}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <!--<div class="mousehever1 righthever "></div>-->
                        <div id="1" @mouseover="Divhover(0)" @mouseout="Divhoverout(0)" class="col-lg-12 col-md-5 col-md-offset-0  col-sm-12 col-xs-12  under " style="background:#f1f1f1;z-index:2; padding-left: 0px;padding-right: 0px;position:relative">
                            <div class="topboder transition-width"></div>
                            <div class="leftboder transition-hight"></div>
                            <div class="bottomboder transition-width" style="height:3px"></div>
                            <div class="rightboder transition-hight"></div>
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 item1">

                                <img id="img1" @click="Imgdetails('../../Content/images/Features/Features-1.png')" style=" max-width: 100%; max-height: 100%;" src="../../Content/images/Features/Features-1.png" />
                            </div>
                            <div id="con1" class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 item2">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tittle ">

                                    <h2 id="hh" style="padding-left:5%" v-if="Multilingual[9]">{{Multilingual[9].Describe}} </h2>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  centext ">
                                    <p v-if="Multilingual[19]">
                                        {{Multilingual[19].Describe}} <strong v-if="Multilingual[31]"> {{Multilingual[31].Describe}}</strong><span v-if="Multilingual[32]"> {{Multilingual[32].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[20]">
                                        {{Multilingual[20].Describe}} <strong v-if="Multilingual[33]"> {{Multilingual[33].Describe}}</strong><span v-if="Multilingual[34]"> {{Multilingual[34].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[21]">
                                        {{Multilingual[21].Describe}} <strong v-if="Multilingual[31]"> {{Multilingual[31].Describe}}</strong><span v-if="Multilingual[35]"> {{Multilingual[35].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[22]">
                                        {{Multilingual[22].Describe}} <strong v-if="Multilingual[31]"> {{Multilingual[31].Describe}}</strong><span v-if="Multilingual[36]"> {{Multilingual[36].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[30]">
                                        {{Multilingual[30].Describe}} <span v-if="Multilingual[38]"> {{Multilingual[38].Describe}}</span>
                                    </p>

                                </div>

                            </div>

                        </div>

                        <div id="2" @mouseover="Divhover(1)" @mouseout="Divhoverout(1)" class="col-lg-12col-md-12 col-sm-12 col-xs-12  under pading-0" style="z-index:2; padding-left: 0px;padding-right: 0px;">
                            <div class="topboder transition-width"></div>
                            <div class="leftboder transition-hight"></div>
                            <div class="bottomboder transition-width"></div>
                            <div class="rightboder transition-hight"></div>
                            <div id="con2" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item2">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tittle">
                                    <h2 style="padding-left:5%" v-if="Multilingual[10]">{{Multilingual[10].Describe}}  </h2>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  centext">
                                    <p v-if="Multilingual[19]">
                                        {{Multilingual[19].Describe}} <strong v-if="Multilingual[31]"> {{Multilingual[31].Describe}}</strong><span v-if="Multilingual[32]"> {{Multilingual[32].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[20]">
                                        {{Multilingual[20].Describe}} <strong v-if="Multilingual[33]"> {{Multilingual[33].Describe}}</strong><span v-if="Multilingual[34]"> {{Multilingual[34].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[21]">
                                        {{Multilingual[21].Describe}} <strong v-if="Multilingual[31]"> {{Multilingual[31].Describe}}</strong><span v-if="Multilingual[35]"> {{Multilingual[35].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[22]">
                                        {{Multilingual[22].Describe}} <strong v-if="Multilingual[31]"> {{Multilingual[31].Describe}}</strong><span v-if="Multilingual[36]"> {{Multilingual[36].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[30]">
                                        {{Multilingual[30].Describe}} <span v-if="Multilingual[38]"> {{Multilingual[38].Describe}}</span>
                                    </p>

                                </div>

                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item1">
                                <img id="img2" @click="Imgdetails('../../Content/images/Features/Features-2.png')" style="max-width: 100%;max-height:100%;" src="../../Content/images/Features/Features-2.png" />
                            </div>
                        </div>

                        <div id="3" @mouseover="Divhover(2)" @mouseout="Divhoverout(2)" class="col-lg-12 col-md-12 col-sm-12 col-xs-12  under" style="background:#f1f1f1;z-index:2; padding-left: 0px;padding-right: 0px;">
                            <div class="topboder transition-width"></div>
                            <div class="leftboder transition-hight"></div>
                            <div class="bottomboder transition-width"></div>
                            <div class="rightboder transition-hight"></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item1">
                                <img id="img3" @click="Imgdetails('../../Content/images/Features/Features-3.png')" style="max-width: 100%;max-height: 100%;" src="../../Content/images/Features/Features-3.png" />
                            </div>
                            <div id="con3" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item2">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tittle">
                                    <h2 style="padding-left:5%" v-if="Multilingual[11]">{{Multilingual[11].Describe}} </h2>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  centext">
                                    <p v-if="Multilingual[19]">
                                        {{Multilingual[19].Describe}} <strong v-if="Multilingual[31]"> {{Multilingual[31].Describe}}</strong><span v-if="Multilingual[32]"> {{Multilingual[32].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[20]">
                                        {{Multilingual[20].Describe}} <strong v-if="Multilingual[33]"> {{Multilingual[33].Describe}}</strong><span v-if="Multilingual[34]"> {{Multilingual[34].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[21]">
                                        {{Multilingual[21].Describe}} <strong v-if="Multilingual[31]"> {{Multilingual[31].Describe}}</strong><span v-if="Multilingual[35]"> {{Multilingual[35].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[22]">
                                        {{Multilingual[22].Describe}} <strong v-if="Multilingual[31]"> {{Multilingual[31].Describe}}</strong><span v-if="Multilingual[36]"> {{Multilingual[36].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[30]">
                                        {{Multilingual[30].Describe}} <span v-if="Multilingual[38]"> {{Multilingual[38].Describe}}</span>
                                    </p>

                                </div>

                            </div>

                        </div>

                        <div id="4" @mouseover="Divhover(3)" @mouseout="Divhoverout(3)" class="col-lg-12col-md-12 col-sm-12 col-xs-12  under" style="z-index:2; padding-left: 0px;padding-right: 0px;">
                            <div class="topboder transition-width"></div>
                            <div class="leftboder transition-hight"></div>
                            <div class="bottomboder transition-width"></div>
                            <div class="rightboder transition-hight"></div>
                            <div id="con4" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item2">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tittle">
                                    <h2 style="padding-left:5%" v-if="Multilingual[15]">{{Multilingual[13].Describe}}  </h2>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  centext">
                                    <p v-if="Multilingual[19]">
                                        {{Multilingual[19].Describe}} <strong v-if="Multilingual[31]"> {{Multilingual[31].Describe}}</strong><span v-if="Multilingual[32]"> {{Multilingual[32].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[20]">
                                        {{Multilingual[20].Describe}} <strong v-if="Multilingual[33]"> {{Multilingual[33].Describe}}</strong><span v-if="Multilingual[34]"> {{Multilingual[34].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[21]">
                                        {{Multilingual[21].Describe}} <strong v-if="Multilingual[31]"> {{Multilingual[31].Describe}}</strong><span v-if="Multilingual[35]"> {{Multilingual[35].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[22]">
                                        {{Multilingual[22].Describe}} <strong v-if="Multilingual[31]"> {{Multilingual[31].Describe}}</strong><span v-if="Multilingual[36]"> {{Multilingual[36].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[30]">
                                        {{Multilingual[30].Describe}} <span v-if="Multilingual[38]"> {{Multilingual[38].Describe}}</span>
                                    </p>

                                </div>

                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item1">
                                <img id="img4" @click="Imgdetails('../../Content/images/Features/Features-4.png')" style="max-width: 100%; max-height: 100%;" src="../../Content/images/Features/Features-4.png" />
                            </div>
                        </div>

                        <div id="5" @mouseover="Divhover(4)" @mouseout="Divhoverout(4)" class="col-lg-12col-md-12 col-sm-12 col-xs-12  under pading-0" style="background:#f1f1f1;z-index:2; padding-left: 0px;padding-right: 0px;">
                            <div class="topboder transition-width"></div>
                            <div class="leftboder transition-hight"></div>
                            <div class="bottomboder transition-width"></div>
                            <div class="rightboder transition-hight"></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item1">
                                <img id="img5" @click="Imgdetails('../../Content/images/Features/Features-5.png')" style="max-width: 100%; max-height: 100%;" src="../../Content/images/Features/Features-5.png" />
                            </div>
                            <div id="con5" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item2">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tittle">
                                    <h2 class="padding-left" v-if="Multilingual[39]"> {{Multilingual[39].Describe}} </h2>
                                    <h3 class="padding-left" v-if="Multilingual[40]"> {{Multilingual[40].Describe}} </h3>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  centext">
                                    <p v-if="Multilingual[19]">
                                        {{Multilingual[19].Describe}} <span v-if="Multilingual[41]"> {{Multilingual[41].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[20]">
                                        {{Multilingual[20].Describe}} <span v-if="Multilingual[42]"> {{Multilingual[42].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[21]">
                                        {{Multilingual[21].Describe}} <span v-if="Multilingual[43]"> {{Multilingual[43].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[22]">
                                        {{Multilingual[22].Describe}}<span v-if="Multilingual[44]"> {{Multilingual[44].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[30]">
                                        {{Multilingual[30].Describe}} <span v-if="Multilingual[45]"> {{Multilingual[45].Describe}}</span>
                                    </p>

                                </div>

                            </div>

                        </div>

                        <div id="6" @mouseover="Divhover(5)" @mouseout="Divhoverout(5)" class="col-lg-12col-md-12 col-sm-12 col-xs-12  under" style=" padding-left: 0px;padding-right: 0px;">
                            <div class="topboder transition-width"></div>
                            <div class="leftboder transition-hight"></div>
                            <div class="bottomboder transition-width"></div>
                            <div class="rightboder transition-hight"></div>
                            <div id="con6" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item2">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tittle">
                                    <h2 class="padding-left" v-if="Multilingual[23]"> {{Multilingual[23].Describe}} </h2>
                                    <h3 class="padding-left" v-if="Multilingual[24]"> {{Multilingual[24].Describe}} </h3>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  centext">
                                    <p v-if="Multilingual[19]">
                                        {{Multilingual[19].Describe}} <strong v-if="Multilingual[25]"> {{Multilingual[25].Describe}}</strong><span v-if="Multilingual[26]"> {{Multilingual[26].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[20]">
                                        {{Multilingual[20].Describe}} <strong v-if="Multilingual[27]"> {{Multilingual[27].Describe}}</strong><span v-if="Multilingual[28]"> {{Multilingual[28].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[21]">
                                        {{Multilingual[21].Describe}} <span v-if="Multilingual[29]"> {{Multilingual[29].Describe}}</span>
                                    </p>


                                </div>

                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item1">
                                <img id="img6" @click="Imgdetails('../../Content/images/Features/Features-6.png')" style="max-width: 100%; max-height: 100%;" src="../../Content/images/Features/Features-6.png" />
                            </div>
                        </div>

                        <div id="7" @mouseover="Divhover(6)" @mouseout="Divhoverout(6)" class="col-lg-12col-md-12 col-sm-12 col-xs-12  under" style="background:#f1f1f1;z-index:2; padding-left: 0px;padding-right: 0px;">
                            <div class="topboder transition-width"></div>
                            <div class="leftboder transition-hight"></div>
                            <div class="bottomboder transition-width"></div>
                            <div class="rightboder transition-hight"></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item1">
                                <img id="img7" @click="Imgdetails('../../Content/images/Features/Features-7.png')" style="max-width: 100%; max-height: 100%;" src="../../Content/images/Features/Features-7.png" />
                            </div>
                            <div id="con7" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item2" style="padding-right: 30px; margin-bottom: 30px;">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tittle">
                                    <h2 class="padding-left" v-if="Multilingual[12]"> {{Multilingual[12].Describe}} </h2>
                                    <h3 class="padding-left" v-if="Multilingual[24]"> {{Multilingual[24].Describe}} </h3>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  centext">
                                    <p v-if="Multilingual[19]">
                                        {{Multilingual[19].Describe}} <strong v-if="Multilingual[31]"> {{Multilingual[31].Describe}}</strong><span v-if="Multilingual[32]"> {{Multilingual[32].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[20]">
                                        {{Multilingual[20].Describe}} <strong v-if="Multilingual[33]"> {{Multilingual[33].Describe}}</strong><span v-if="Multilingual[34]"> {{Multilingual[34].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[21]">
                                        {{Multilingual[21].Describe}} <strong v-if="Multilingual[31]"> {{Multilingual[31].Describe}}</strong><span v-if="Multilingual[35]"> {{Multilingual[35].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[22]">
                                        {{Multilingual[22].Describe}} <strong v-if="Multilingual[31]"> {{Multilingual[31].Describe}}</strong><span v-if="Multilingual[36]"> {{Multilingual[36].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[30]">
                                        {{Multilingual[30].Describe}} <span v-if="Multilingual[38]"> {{Multilingual[38].Describe}}</span>
                                    </p>

                                </div>



                            </div>

                        </div>

                        <div id="8" @mouseover="Divhover(7)" @mouseout="Divhoverout(7)" class="col-lg-12col-md-12 col-sm-12 col-xs-12  under" style="z-index:2; padding-left: 0px;padding-right: 0px;display:none">
                            <div class="topboder transition-width"></div>
                            <div class="leftboder transition-hight"></div>
                            <div class="bottomboder transition-width"></div>
                            <div class="rightboder transition-hight"></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item2">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tittle">
                                    <h2 style="padding-left:5%" v-if="Multilingual[16]">{{Multilingual[16].Describe}}  </h2>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  centext">
                                    <p v-if="Multilingual[19]">
                                        {{Multilingual[19].Describe}} <strong v-if="Multilingual[31]"> {{Multilingual[31].Describe}}</strong><span v-if="Multilingual[32]"> {{Multilingual[32].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[20]">
                                        {{Multilingual[20].Describe}} <strong v-if="Multilingual[33]"> {{Multilingual[33].Describe}}</strong><span v-if="Multilingual[34]"> {{Multilingual[34].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[21]">
                                        {{Multilingual[21].Describe}} <strong v-if="Multilingual[31]"> {{Multilingual[31].Describe}}</strong><span v-if="Multilingual[35]"> {{Multilingual[35].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[22]">
                                        {{Multilingual[22].Describe}} <strong v-if="Multilingual[31]"> {{Multilingual[31].Describe}}</strong><span v-if="Multilingual[36]"> {{Multilingual[36].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[30]">
                                        {{Multilingual[30].Describe}} <span v-if="Multilingual[38]"> {{Multilingual[38].Describe}}</span>
                                    </p>

                                </div>

                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item1">
                                <img id="img8" style=" max-width: 100%; max-height: 100%;" src="../../Content/images/Features/Features-7.png" />
                            </div>
                        </div>

                        <div id="9" @mouseover="Divhover(8)" @mouseout="Divhoverout(8)" class="col-lg-12col-md-12 col-sm-12 col-xs-12  under" style="background:#f1f1f1;z-index:2; padding-left: 0px;padding-right: 0px;display:none">
                            <div class="topboder transition-width"></div>
                            <div class="leftboder transition-hight"></div>
                            <div class="bottomboder transition-width"></div>
                            <div class="rightboder transition-hight"></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item1">
                                <img id="img9" style="max-width: 100%; max-height: 100%;" src="../../Content/images/Features/Features-7.png" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item2">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tittle">
                                    <h2 style="padding-left:5%;" v-if="Multilingual[17]">{{Multilingual[17].Describe}} </h2>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  centext">
                                    <p v-if="Multilingual[19]">
                                        {{Multilingual[19].Describe}} <strong v-if="Multilingual[31]"> {{Multilingual[31].Describe}}</strong><span v-if="Multilingual[32]"> {{Multilingual[32].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[20]">
                                        {{Multilingual[20].Describe}} <strong v-if="Multilingual[33]"> {{Multilingual[33].Describe}}</strong><span v-if="Multilingual[34]"> {{Multilingual[34].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[21]">
                                        {{Multilingual[21].Describe}} <strong v-if="Multilingual[31]"> {{Multilingual[31].Describe}}</strong><span v-if="Multilingual[35]"> {{Multilingual[35].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[22]">
                                        {{Multilingual[22].Describe}} <strong v-if="Multilingual[31]"> {{Multilingual[31].Describe}}</strong><span v-if="Multilingual[36]"> {{Multilingual[36].Describe}}</span>
                                    </p>
                                    <p v-if="Multilingual[30]">
                                        {{Multilingual[30].Describe}} <span v-if="Multilingual[38]"> {{Multilingual[38].Describe}}</span>
                                    </p>

                                </div>

                            </div>

                        </div>
                    </div>
                </div><!--container-->
            </section>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div id="imgdetails" style="width:100%;height:100%;background:rgba(0, 0, 0, 0.92);z-index:10000;position:fixed;top:0px;left:0px;display:none;text-align:center;overflow:scroll">
                    <div><h4 style="text-align:right;padding-right:100px;"><i style="cursor: pointer;" @click="fadeout()" class="fa fa-times-circle fa-4x" aria-hidden="true"></i></h4></div>
                    <img class="bigimg" style="zoom:100%;margin-bottom:30px" id="chgImg" onmousewheel="return vm.bigimg(this)" />
                    <!--<img class="imgdetailpage" id="imgdetailpage"  />-->
                </div>
            </div>
            <footer class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="row" style="background:#303030">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 footerlogo">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2 col-sm-12 col-xs-12 ">
                                    <img src="../../Content/images/Footer/logo.png" />
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                    <p class="footertittle-white" v-if="Navigation[30]">{{Navigation[30].Describe}} </p>
                                </div>

                            </div>
                            <!--<img src="../../Content/images/Footer/logo.png" />-->


                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 footcontent">
                            <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
                                <h2 class="white" v-if="Navigation[26]">{{Navigation[26].Describe}} </h2>
                                <p class="white" v-if="Navigation[29]">
                                    {{Navigation[29].Describe}}
                                </p>

                                <p class="Contact_icon" v-if="Navigation[28]">
                                    <span class="white" style=" padding-right :50px; font-family: Britannic; ">{{Navigation[28].Describe}}</span>  <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
                                    <i class="fa fa-whatsapp fa-2x" style="padding-left:5%;" aria-hidden="true"></i>
                                    <i class="fa fa-linkedin fa-2x" style="padding-left:5%;" aria-hidden="true"></i>

                                </p>


                            </div>
                            <div class="col-lg-5 col-md-5  col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12" style="margin-top:20px">
                                <p class="p3-white"><i class="fa fa-map-marker fa-3x" aria-hidden="true"></i><span v-if="Navigation[24]">{{Navigation[24].Describe}} </span> </p>
                                <p class="p3-white"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i><span v-if="Navigation[25]">{{Navigation[25].Describe}} </span></p>
                                <p class="p3-white">
                                    <i style="width:30px;height:30px;">
                                        <img style="width:30px;height:30px;" src="../../Content/images/Footer/CustomerService2.png" />
                                    </i><span v-if="Navigation[23]">{{Navigation[23].Describe}} </span>
                                </p>


                            </div>
                        </div>

                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 footerLink">
                        <p class="text-center white" v-if="Navigation[16]">{{Navigation[16].Describe}}  <a class="white" style=" padding-left:20px;"> {{Navigation[17].Describe}}</a>  | <a class="white" v-if="Navigation[18]">{{Navigation[18].Describe}}</a> | <a class="white" v-if="Navigation[19]">{{Navigation[19].Describe}}</a> |<a class="white" v-if="Navigation[20]">{{Navigation[20].Describe}}</a><span style="padding-left:20px;">{{Navigation[21].Describe}} </span></p>

                    </div>
                </div>






            </footer>
        </div>

        <div id="WarningMessage"></div>
    </div>
  
    <!--Vue-->
    <script src="../../Content/js/Share/vue.min.js"></script>
    <script src="../../Content/js/Share/vue-resource.min.js"></script>
    <script src="../../Content/js/Share/GetCommonAPI.js"></script>
    <script src="../../Content/js/Share/Multilingual.js"></script>
    <script src="../../Content/js/Share/WarningMessage.js"></script>
    <!-- Javascript -->
    <script type="text/javascript" src="../../Content/plugins/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="../../Content/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../Content/plugins/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="../../Content/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="../../Content/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="../../Content/plugins/FitVids/jquery.fitvids.js"></script>

    <script type="text/javascript" src="../../Content/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="../../Content/js/Share/main.js"></script>

    <script src="../../Content/js/Index/Features.js"></script>
   
</body>
</html>