.form-horizontal input {
    border-color: #c1bbbb;
}
.input-group-addon{
    padding:0;
    border:none;
    background:#ffffff;
}
.input-group-addon>button {
    height: 40px;
    border-width: 1px;
    border-radius: 0 4px 4px 0;
}
    .input-group-addon > button:hover {
        border-width: 1px;
    }